<!DOCTYPE HTML>
<html lang="en">

<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-E00L9PT3V9"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-E00L9PT3V9');
  </script>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

</head>

<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
             
              <h1>Sanyam Mehta</h1>
<p>I am a graduate student in the <a href="https://robotics.umich.edu/">Robotics Program</a> at the <a href="https://umich.edu/">University of Michigan</a>, where I work on computer vision and generative AI models. My research advisor is <a href="https://www.andrewowens.com/">Andrew Owens</a>.</p>
<p>From 2021 to 2024, I worked at <a href="https://www.gather.ai/">Gather AI</a> as an ML Engineer. I primarily developed neural networks for 3D inference on 2D images, engineered scalable data processing systems, and worked on SLAM projects for warehouse environments. Additionally, I led cross-cultural data annotation processes and developed innovative occupancy estimation systems.</p>
<p>I have a B.Tech. in Computer Science & Engineering from <a href="https://pec.ac.in/">Punjab Engineering College</a>, where I also participated in an exchange program at <a href="https://iiitd.ac.in/">Indraprastha Institute of Information Technology Delhi (IIIT-Delhi)</a>. During my time at IIIT-Delhi, I worked as an NLP Researcher under the guidance of Prof. Rajiv Ratn Shah.</p>
<p style="text-align:center">
<a href="mailto:sanyam@umich.edu">Email</a> &nbsp;/&nbsp;
<a href="https://github.com/Sanyam-Mehta">GitHub</a> &nbsp;/&nbsp;
<!-- <a href="https://scholar.google.com/citations?user=yourid">Google Scholar</a> &nbsp;/&nbsp; -->
<a href="https://www.linkedin.com/in/sanyam-mehta">LinkedIn</a>
</p>
</td>
<td style="padding:2.5%;width:40%;max-width:40%">
<img style="width:100%;max-width:100%" alt="profile photo" src="images/profile-pic.jpg">
</td>
</tr>
</table>
<table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
<tr>
<td style="padding:2.5%;width:100%;vertical-align:middle">
<h2>Research</h2>
<p>
I'm interested in computer vision, machine learning, generative AI, and robotics. My current research focuses on self-supervised learning methods and diffusion models to enhance visual correspondence in videos, particularly in the context of the Stable Video Diffusion pipeline.
</p>
</td>
</tr>
</table>
</body>

</html>

